*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    position: relative;
}
#center{
    border: 1px solid black;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 30%;
}